<!DOCTYPE html>
<html>
<head>
  <title>Katesapp</title>
  <link href-"//maxcdn.bootstrap.cdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/query-1.11.2.min.js"></script>
  <script src="//maxcdn.bootstrap.cdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--Navbar starts here -->
 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!--nav container -->
 <div class="container-fluid">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
   <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   </button>
 <div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
   <%= form_tag("/products", method: "get", class: 'navbar-collapse', id: 'search-form') do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
   <% end %>
   <li><%= link_to "home", root_path %></li>
   <li><%= link_to "about", static_pages_about_path %></li>
   <li><%= link_to "contact", static_pages_contact_path %></li>
   </ul>
    </div> <!--end of navbar collapse-->
   </div> <!--end of navbar-header-->
  </div> <!--end of container-fluid-->
 </div> <!--end ofnavbar-inverse-->
<!--Navbar ends here -->  

</head>
<body>
<%#<a href="#"><img src="/images/quality1.png" alt="Quality Lettering, Graphics & More logo"></a>%>
<h1>Quality Lettering, Graphics &#38; More<h1>
<h2>Where Great Ideas Come to Life!</h2>
<%= yield %>

<footer class="container-fluid">
	<div class="navbar-inverse">
		<div class="container">

		</div>
	</div>
</footer>
</body>
</html>
